<div id="principal">
  <div id="cvpage">
    <img src="/img/cv.jpg" alt="image of a girl holding the headline CV" />
    <div class="cv-container">

      <h1 id="topofcv" class="headercv">ABOUT ME</h1>
      <br />
      <h2 class="headercv">FRIDA PALM
        <br />
        Profile
      </h2>

      <p>I am a creative and positive person currently in my second year of the
        Graphic Design and Web Development program at the School of Engineering
        at Jönköping Univercity, with a strong emphasis on the visual aspects. I
        love creating solutions that are both stylish and functional and am
        passionate about developing my skills in design and aesthetics. With my
        profiency in Adobe programs and knowledge in web development, combined
        with my interest in photography and design in all its forms, I always
        strive to produce unique and thoughtfully crafted results.
      </p>
      <br />

      <h2 class="headercv">Skills and abillities</h2>
      <p>
        - Creative and aesthetically driven
        <br />
        - Detail-oriented
        <br />
        - Strong proficiency in Adobe programs - Illustrator, InDesign,
        Photoshop
        <br />
        - Proficiency in Figma creating interactive prototypes
        <br />
        - Good teamwork and communication skills
        <br />
        - Experience in photography and photo editing
      </p>
      <br />
      <h2 class="headercv">Experience</h2>
      <p>
        <span class="miniheader">Art Director</span>
        - HYPE advertising Agency
        <br />
        September 2024 - Present
        <br /><br />
        <span class="miniheader">Retail Associate</span>
        - Ica Supermarket Mora
        <br />
        January 2021 - January 2024
        <br /><br />
        <span class="miniheader">Barista</span>
        - Espresso House
        <br />November 2020 - May 2021
      </p>
      <br />
      <h2 class="headercv">Education</h2>
      <span class="miniheader">Graphic Desing and Web Development</span>
      <br />Jönköping Univercity August 2023 - Present
      <br /><br />
      <span class="miniheader">Business Program</span>
      <br />Mora Gymnasium August 2017- June 2020
    </div>
  </div>
</div>