<div id="principal">
  <h1>{{welcomeMessage}}</h1>
  <div>
    <img src="/img/home.jpg" alt="pic" class="styled-image" />
    <br />
    <div class="textcontent">
      <h2>Welcome to My Portfolio</h2>
      <p>Hello, I am Frida Palm, a passionate Graphic Design and Web Development
        student. My work is rooted in a strong passion for visual design, I use
        Adobe tools like Illustrator, InDesign, and Photoshop. With my knowledge
        in HTML, CSS, and JavaScript, I have a deeper understanding of the
        design process behind digital products, which greatly aids me in
        producing intuitive and visually compelling prototypes that are ready
        for development. I have a deep interest in various aspects of designing
        and am constantly working to widen my knowledge and learn new techniques
        to develop my work. Please explore my portfolio to review a selection of
        projects I have developed.

      </p>
    </div>
  </div>
  <a href="/projects" class="button">View My Work</a>

</div>