<div id="principals">
  <div class="mytextcard">

    <h1>List of Persons</h1>
    <ul>
      {{#each persons}}
        <li>{{this.fname}}
          {{this.lname}}, Age:
          {{this.age}}, Email:
          {{this.email}}</li>
      {{/each}}
    </ul>
    <a href="/">Home</a>
  </div>
</div>