<div id="principal">
  <h1>Skills</h1>
  <div class="mytextcard">

    <ul class="skills">
      {{#each skills}}
        <li>
          {{name}},<br />{{type}},
          {{desc}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>